# ReqProxy should use the ReqManager on the GW in order to use proper ownerDN in the request.
Systems
{
  RequestManagement
  {
    # e.g. Production, Certification
    <your real instance>
    {
      URLs
      {
        ReqManager = dips://<your gw host>:9133/WorkloadManagement/WMSSecureGW
      }
    }
  }
}
