# Install all the requirements of DIRAC to build the DOC
-r https://raw.githubusercontent.com/DIRACGrid/DIRAC/integration/docs/requirements.txt
-e git+https://github.com/DIRACGrid/DIRAC/@integration#egg=diracdoctools&subdirectory=docs
# Install DIRAC to be able to execute the commands
git+https://github.com/DIRACGrid/DIRAC/@integration
LbPlatformUtils
uproot
certifi
futures
cx_Oracle==7.3
xmltodict
